<div id="hero">
    <h1>{{artist}}</h1>
    <h2>{{album}}</h2>
    {{!-- <img src="{{image}}"> --}}
    <br>
    <div id="reviewsDisplay"> 
      {{#each reviews}}
      <p>Review Id: {{id}}
        <br>
        Review: {{text}}
        </p>
      {{/each}}
    </div>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave review here" id="reviewBox" style="height: 90px"></textarea>
      <label for="floatingTextarea2">Reviews</label>
    </div>
    <button id="reviewSubmitButton" class="btn btn-outline-primary" type="submit">Submit</button>
  </div>