<!-- album-details.handlebars -->

<div id="hero" >
    <h1>Artist: {{album.artist.name}}</h1>
    <h2>Album: {{album.title}}</h2>
   <img src="{{album.image}}">

    {{!-- Form for deleting review --}}
    <form id="deleteForm"></form>
    {{!-- Form for updating review --}}
    <form id="updateForm"></form>

       {{#each album.reviews}}
        <p>
          {{review_content}}
        </p>
        {{#if ../loggedIn}}
        {{!-- ID is id of review which is used for update or deletion --}}

        {{!-- Update review button that opens modal --}}
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updateReviewModal_{{id}}">Update Review</button>

        {{!-- Update review modal --}}
        <div class="modal" id="updateReviewModal_{{id}}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Update Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="updateReviewText" class="form-label">Updated Review Text</label>
                  <textarea class="form-control" id="updateReviewText_{{id}}" rows="3"></textarea>
                </div>
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="updateForm" id="update_{{id}}" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Delete review button --}}
        <button class="btn btn-outline-primary" id="delete_{{id}}" form="deleteForm" type="submit">Delete Review</button>

        {{/if}}

        <hr>

      {{/each}}

{{#if loggedIn}}
<h5>Add New Review</h4>
<form id="reviewForm" class="form-floating">
  <textarea class="form-control" placeholder="Leave review here" id="review-text" style="height: 90px"></textarea>
  <label for="review-text">Reviews</label>
  <button id="reviewSubmitButton" class="btn btn-outline-primary" type="submit">Submit</button>
</form>
{{/if}}
 
</div>